# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.egg-info/

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
*.tfvars
!example.tfvars
.terraform.lock.hcl
override.tf
override.tf.json

# Local / secrets
.env
*.pem
credentials
